Skip to content
This repository
Search
Pull requests
Issues
Gist
 @archfiery
 Sign out
 Unwatch 1
  Star 0
  Fork 0 archfiery/echo-server
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathecho-server/.gitignore
b4fae4a  11 days ago
@archfiery archfiery go through the tutorial
1 contributor
RawBlameHistory     
50 lines (40 sloc)  441 Bytes
sites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# text editor
.*.swp
*~

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build/
